body {
  font-family: 'Karla';
  background-color: rgb(252, 252, 244);
}

.header-desktop {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1%;
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-mobile {
  margin-bottom: 5%;
  justify-content: center;
  display:list-item;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  width: 250px;

}

.nav-container{
  display: flex;
  list-style: none;
  padding-inline-start: 0;
  flex-wrap: wrap;
  /*background-color: rgb(73, 94, 165);*/
}

.nav-container ul {
  display: flex;
  padding: 0;
}

.nav-container li{
  width: 129px;
  display: block;
  /*background-color: blueviolet;*/
  text-align: center;
  
 }


.nav-container li a{
 /* background-color: rgb(165, 73, 73);*/
  font-size: 1rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
  justify-self: center;
}

.about-container {
  display: flex;
  justify-content: space-between;
  padding-top: 3%;
  width: 100%;
  height: 400px;
  margin-bottom: 5%;
  background-color: rgb(82, 109, 100);
}

.about-container article {
  color: rgb(255, 255, 255);
  margin-left: 20%;
  width: 40%;
  font-size: 1.2rem;
  line-height: 1.4;
}
.about-container h1{
  font-family: 'Markazi Text', serif;
  color:#f4ce14;
  line-height: .2;
  font-weight: 400;
}
.about-container h2{
  font-family: 'Markazi Text', serif;
  color:#f4ce14;
  font-size: 1rem;
  line-height: .2;
  font-weight: 400;
}

.aboutImage {
  position: relative;
  margin-right: 20%;
  margin-left: 5%;
  top: 30px;
  width: 375px;
  margin-bottom: -50px;
  border-radius: 20px;
}

.promo-container {
  margin-left: 20%;
  margin-right: 20%;
}
.promo-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
}

.promo-title button {
  border: solid;
  font-weight: 600;
  height: 50px;
  width: 180px;
  border-radius: 7px;
  border-color: rgb(236, 209, 54);
  background-color: rgb(236, 209, 54);
}

.promo-title button:active {
  border: solid;
  font-weight: 600;
  height: 50px;
  width: 180px;
  border-radius: 7px;
  border-color: rgb(165, 206, 17);
  background-color: rgb(165, 206, 17);
}


.menu-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4%;
}


.card {
  display: inline-block;
  background-color: rgb(235, 255, 252);
  height: 500px;
  border-radius: 8%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.plato-text{
  padding-left: 10%;
  padding-right: 10%;
  /*background-color: aqua;*/
  height: 30%;
  margin: 0;
  
}

.card img{
  border-radius: 8%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  /*background-color: rgb(102, 201, 127);*/
  width: 100%;
  height: 230px;
  margin-bottom: 8%;
}

.plato-info{
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content:space-between;
 /* background-color: rgb(166, 201, 102);*/
  height: 7%;
  margin-bottom: 8%;
}

.plato-info h3 {
  margin:0;
}

form {
  width: fit-content;
  display: grid;
  gap: 10px;
  margin-inline: auto;
  margin-block: 6rem;
}

form input, select {
  border: #c2d8d1 solid 1px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  min-width: 20rem;
}

.resservation-message {
  color: black;
  background-color: aliceblue;
  text-align: center;
}
.date-time{
  justify-content: space-evenly;
  display: flex;
}

.num-oc{
  justify-content: space-evenly;
  display: flex;
}

.errorMessage {
  color: crimson;
}